.blog-info {
    min-height: 510px;
    width: 11.667%;
    margin-right: 2%;
    padding: 0;
    @media #{$max-small} {
        min-height: 70px;
        padding-top: 10px;
        width: 100%;
    }
    & > div {
        @extend .p-0-20;
    }
    .arrow {
        border-style: solid;
        border-width: 15px 0 15px 15px;

        position: absolute;
        right: -50px;
        top: 35px;
        width: 20px;
    }
    br {
        @media #{$max-small} {
            display: none;
        }
    }
    .author {
        text-align: center;
        word-break: break-all;
    }
    .date {
        a:hover {
            color: #fff;
        }
        padding: 15px;
        margin-top: 100px;
        text-align: center;
        @media #{$max-small} {
            float: left;
            margin: 0 0 0 90px;
            padding: 7px 0 0 7px;
            width: 130px;
        }
        .day {
            padding-bottom: 10px;
            display: block;
            @media #{$max-small} {
                float: left;
            }
        }
        .year {
            display: block;
            padding: 2px;
        }
    }
    .author {
        @media #{$max-small} {
            float: left;
        }

        div {
            padding-top: 5px;
        }
    }
    .comment-count {
        margin-top: 100px;
        @media #{$max-small} {
            float: right;
            margin: 0;
        }
        div {
            padding-bottom: 6px;
        }
    }

}

.blog-info {
    background: white;
}

.stripe-4 {
    color: white;
    height: 100%;
    background: repeating-linear-gradient(
                    -55deg,
                    #222,
                    #222 10px,
                    #333 10px,
                    #333 20px
    );
}

.blog-info {
    min-height: 320px;
    .date, .comment-count {
        margin-top: 20px;
        border-radius: 3px;
    }
}

.has-post-thumbnail .blog-info {
    min-height: 510px;
    .date, .comment-count {
        margin-top: 20px;
        border-radius: 3px;
    }

}

@media #{$max-small} {
    .blog-post > .post > .row {
        margin: 0;
    }
}

.blog-posts, .page .main .body {
    margin-bottom: 40px;
    @media #{$max-small} {
        width: 100%;
    }
    article > div {
        position: relative;
    }
    .post-info {
        margin-bottom: 20px;
    }
    .fa-image {
        font-size: 3em;
        right: 10px;
        position: absolute;
        top: 10px;
        z-index: 2;
    }
    .read-more {
        padding: 0;
        display: block;
        width: 160px;
        a {
            color: rgba(0, 0, 0, 0.83);
            font-size: 12px;
            padding: 10px 25px;
            display: inline-block;
            &:hover {
                color: #fff;
            }
        }
        &:hover {
            padding: 0;
            a {
                padding: 10px 25px;
            }
        }
    }
    .read-more:hover {
        a {
            color: #fff;
        }
    }
    p {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.8;
    }
   /* h1, h2, h3, h4, h5, h6 {
        padding-left: 10px;
    }*/
    ul, ol {
        //margin: 0 0 18px 20.8px;
        //padding-left: 20.8px;
        li {
            color: #787878;
            font-family: 'Poppins';
            font-size: 16px;
            line-height: 1.8;
            margin-bottom: 4px;
            font-weight: 400;
        }
        &.wp-block-gallery {
				  	margin: 0px 20px 0px 24px;
            padding-left: 0;
        }
    }
    hr {
        max-width: 100px;
        margin: 22px auto;
    }
    hr.is-style-dots {
        border-bottom: unset;
    }
    hr.is-style-wide {
        max-width: 100%;
    }
    .wp-block-cover, .wp-block-cover-image {
        margin-bottom: 24px;
    }
    .wp-block-separator.is-style-dots::before {
        padding-left: 0;
    }

    .wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
        font-size: 24px;
    }
    .aligncenter {
        text-align: center;
    }

    .wp-block-pullquote {
        border-bottom: 4px solid #555d66;
        border-top: 4px solid #555d66;
        color: #40464d;
        border-left: none;
        padding: 64px 0;
        p {
            font-size: 28px;
            line-height: 1.6;
            color: #222;
        }
        cite {
            color: #40464d;
            font-size: 13px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

}

.post-author, .post-categories, .post-tags {
    margin-left: 15px;
}

.blog-posts .body {
    line-height: 1.6em;
    margin-top: 10px;
}

#respond, #comments {
    margin-top: 80px;
}

.blog-posts .body.field {
    margin-top: 15px;
}

code {
    background: none;
    border: none;
}

.wd-pagination {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.simple-blog {
    .wd-carousel-container {
        overflow: hidden;
    }
}

.blog-post {

    margin-top: 95px;
    .sticky {
        margin-bottom: 20px;
        padding-left: 25px;
        padding-top: 20px;
        background: #eee none repeat scroll 0 0;
        border-top: medium solid #000;
        padding-right: 25px;
        padding-bottom: 20px;
        .blog-info {
            border-left: 5px solid #83c77a;
        }
    }
    .sticky.fixed {
        left: auto;
        position: relative;
        top: auto;
        width: auto;
        z-index: auto;

    }
}

.page-links {
    text-align: center;
    margin: 20px 0;
}

.post-infos {
    margin: 0 0 10px;
    text-align: left;
    li {
        border-right: 1px solid #ccc;
        margin-right: 10px;
        padding-right: 10px;
        list-style: none;
        margin-bottom: 10px;
        margin-top: 10px;
        display: inline-block;
        line-height: 13px;
        @media #{$small-only} {
            line-height: 20px;
            margin-right: 10px;
            padding-right: 10px;
        }

        &:last-child {
            border: none;
        }
    }
}

.single .blog-posts .body {
    p:not(.wp-block-cover-text),
    ul {
        font-size: 16px;
    }
    .wp-block-separator {
        border: none;
        border-bottom: 2px solid #8f98a1;
        margin: 1.65em auto;
    }
    .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
        max-width: 100px;
    }
    .wp-block-pullquote {
        border-bottom: 4px solid #555d66;
        border-top: 4px solid #555d66;
        color: #000;
        padding: 62px 0 48px;
        blockquote {
            border: none;
            padding: 0;
        }
        p {
            font-size: 28px;
            margin-bottom: 26px;
            color: #222;
        }
        cite {
            color: #40464d;
            font-size: 13px;
            font-style: normal;
            text-transform: uppercase;
            padding: 0;
            font-weight: 400;
            &::before {
                content: '';
            }
        }
    }
    .wp-block-image figcaption {
        margin: 16px 0 20px;
    }
    blockquote {
        padding: 0 16px;
    }
    .wp-block-image {
        margin-bottom: 15px;
    }
    .wp-block-embed {
        margin-bottom: 17px;
    }
    .wp-block-verse {
        color: #191e23;
        font-family: inherit;
        font-size: inherit;
        overflow: auto;
        padding: 1em;
        white-space: nowrap;
    }
    .has-pale-pink-background-color {
        background-color: #000;
    }
}